body {
    margin: 0 auto;
    text-align: center;
    background-color: darkgrey;
}
img {
    width: 31%;
    border: 1px solid rgb(77, 230, 153);

}
p {
    padding: 3px;
    color: rgb(34, 67, 212);
    font-size: 1.1em;
}

/* Navigation formating timeeeeee */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(17, 231, 124);
}

li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1cm;
  text-decoration: underline;
}

h4 {
  font-family: 'Varela Round', sans-serif;
  font-size: 0.5cm;
}

.header {
    /* The image used */
  background-image: url('img_parallax.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: #cc8800;
    height: 35px;
    padding:2px;
    border: 1px dotted #ff5050;
    font-family: 'Roboto', sans-serif;
    font-size: 5.5vh;
}

.left, .right {

    border: 1px solid #ff3333;
    height:700px;
    width: 50%;
    background-color: #b3ffff;

    box-sizing: border-box;
    float: left;
    padding: 2%;
    font-size: 4.5vh;
    
}

p {
  font-family: 'Varela Round', sans-serif;
  text-decoration: underline;
}

h5 {
  font-size: 3.5vh;
  text-decoration: none;
}

h6 {
  font-size: 3.5vh;
  text-decoration: none;
}

.parallax {
    /* The image used */
    background-image: url("Images/Banner.png");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}